@import "../../assets/scss/variables";

.hero-banner {
  background: $soapstone;
  .banner-info {
    padding: 120px 0 0;
    max-width: 468px;
    h1 {
      font-size: 78px;
      line-height: 1.128;
      letter-spacing: 1.25px;
      font-weight: 500;
      background: radial-gradient(closest-side at 30% 28%, #3c92ff 0%, #211e1b 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      span {
        display: block;
        font-weight: 700;
      }
    }
  }
}
